<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>~ Smart List - account</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" >
</head>
<body>
    <header>
        <h1 th:text="Account"/>
    </header>
    <section>
<!--        <p th:value="your email is: ${email}"></p>-->
<!--        <p th:value="your password is: ${password}"></p>-->

        <p th:value="${email}"></p>
        <p th:value="${password}"></p>
    </section>
    <a href="/">< Home </a>
</body>
</html>