
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My First Web App</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" >
</head>
<body>
    <header>
        <h1> ~ Smart List ~ </h1>
        <nav>
            <a class="nav-link" href="/quickList">Quick List</a>
            <a class="nav-link" href="/login">Login</a>
        </nav>
    </header>
    <br/>
    <section>
        <p>This is my first Web App with</p>
        <h4>Java / Spring-Boot</h4>
    </section>
</body>
</html>