<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>~ Smart List - quick list</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" >
</head>
<body>
    <header>
        <h1> ~ Quick List ~ </h1>
        <nav>
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/login">Login</a>
        </nav>
    </header>
    <br/>
    <span class="quickList">
        <section>
            <!-- This area will have the quick list information -->
            <p>Hello World!</p>
        </section>
        <form action="/quickList">
            <label for="category">Category
                <select id="category" name="category" style="text-align: center">
                    <option value="null" >select</option>
                    <option value="produce" >produce</option>
                    <option value="frozen" >frozen</option>
                    <option value="dairy" >dairy</option>
                    <option value="meat/deli" >meat/deli</option>
                    <option value="elctronics" >electronics</option>
                    <option value="bakery" >bakery</option>
                    <option value="baking/cooking" >baking/cooking</option>
                    <option value="outdoor/sports" >outdoor/sports</option>
                    <option value="gardening" >gardening</option>
                    <option value="auto" >auto</option>
                    <option value="household" >household</option>
                    <option value="other" >other</option>
                </select>
            </label>
            <br/>
            <label for="item">Item *
                <input type="text" id="item" name="item" placeholder="Bananas"/>
            </label>
            <br/>
            <span>
                <label for="qty">Qty *
                    <input class="qty" type="number" id="qty" name="qty" min=".5" step=".5" value="1"/>
                </label>
                <select name="qtyType">
                    <option value="item" >item</option>
                    <option value="box" >boxes</option>
                    <option value="can" >cans</option>
                    <option value="lb" >lbs</option>
                    <option value="gal" >gal</option>
                    <option value="ltr" >ltr</option>
                    <option value="pt" >pt</option>
                    <option value="oz" >oz</option>
                    <option disabled>sizes</option>
                    <option value="S" >S</option>
                    <option value="M" >M</option>
                    <option value="L" >L</option>
                    <option value="XL" >XL</option>
                </select>
            </span>
            <br/>
            <button type="submit">add</button>
        </form>
    </span>
</body>
</html>